@*
    1. how to stop text from overflowing in my logged in as button? - SOLVED
    2. why do my login/register tabs collapse when I try to click something? https://plnkr.co/edit/JVZApzi3CIc9I4Me2jH5?p=preview
    3. what is this models.sitemodel? - SOLVED
    4. how to not redirect to other pages if user makes login mistake?
    5. how do I make the buttons when logged in behave the same as the buttons when logged out?
*@
@using Blog.Models
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <!-- =========
        Start portrait section
        ===================================-->
        @Html.Partial("_PortraitPartial")
        <!-- =========
        End portrait section
        ===================================-->
        <!-- =========
        Start Content section
        ===================================-->
        <section class="content" id="main-content">

            <!-- =========
            Start navigation section
            ===================================-->
            <nav id='navigation'>
                <ul class="navigation-list clearfix list-unstyled">
                    <li class="active"><a href="#about" data-toggle="tab" data-menu="about"><i class="icon-user"></i> <span>About Me</span></a></li>
                    <li><a href="#resume" data-toggle="tab" data-menu="resume"><i class="icon-newspaper"></i>  <span>Resume</span></a></li>
                    <li><a href="#portfolio" data-toggle="tab" data-menu="portfolio"><i class="icon-folder-open"></i> <span>Portfolio</span></a></li>
                    <li><a href="#blog" data-toggle="tab" data-menu="blog"><i class="icon-pencil"></i> <span>Blog</span></a></li>
                    <li><a href="#contact" data-toggle="tab" data-menu="contact"><i class="icon-mail"></i> <span>Contact</span></a></li>
                </ul>
            </nav>
            <!-- =========
            End navigation section
            ===================================-->
            <!-- =========
            Start tab content section
            ===================================-->
            <div class="tab-content">
                <!-- =========
                Start About tab content section
                ===================================-->
                @Html.Partial("_AboutPartial")
                <!-- =========
                End About tab content section
                ===================================-->
                <!-- =========
                Start resume tab content section
                ===================================-->
                @Html.Partial("_ResumePartial")
                <!-- =========
                End resume tab content section
                ===================================-->
                <!-- =========
                Start portfolio tab content section
                ===================================-->
                @Html.Partial("_PortfolioPartial")
                <!-- =========
                End portfolio tab content section
                ===================================-->
                <!-- =========
                Start Blog tab content section
                ===================================-->
                @Html.Partial("_BlogPartial", new Comment())
                <!-- =========
                End Blog tab content section
                ===================================-->
                <!-- =========
                Start Contact tab content section------
                ===================================-->
                @Html.Partial("_ContactPartial")
                <!-- =========
                End Contact tab content section------
                ===================================-->
            </div>
            <!-- =========
            End tab content section
            ===================================-->


            <a id="backtotop" href="#"><i class="fa fa-arrow-up"></i></a>
            <div class="bg-line"></div>
        </section>
        <!-- =========
        End Content section
        ===================================-->
        <!-- =========
        Start Footer section
        ===================================-->
        <footer class="footer"></footer>
        <!-- =========
        End Footer section
        ===================================-->
        @*loop through number of results
            if (@ViewBag.searchStr != null){
            var word = searchStr;
            $(".blogtitle"").innerHtml.replace(word, "<span class='highlight'>"+word+"</span>")
            }*@
    </div>
</div>