@model Blog.Models.ContactForm
<div id='contact' class="tab-pane fade">
    <div class="body-content">
        <h3 class="title with-icon"><span class="fa fa-coffee icn-title"></span> Get In Touch</h3>

        <!-- =========
        Start map section
        ===================================-->
        <div class="map-area">
            <div id="map"></div>
            <div class="info-map">
                <h3>Contact Info</h3>
                <ul class="list-unstyled list-info">
                    <li><i class="fa fa-home"></i> Notting Hill, London, U.K.</li>
                    <li><i class="fa fa-phone"></i> +44 7932 077550</li>
                    <li><i class="fa fa-linkedin"></i> <a href="https://uk.linkedin.com/in/alexander-schechter-b28150" target="_blank">LinkedIn</a></li>
                    <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/alexanderschechter" target="_blank">Facebook</a></li>
                </ul>
            </div>
        </div>
        <div class="deviter"></div>
        <br />
        <!-- =========
        End map section
        ===================================-->
        <!-- =========
        Start form contact section
        ===================================-->
        @using (Html.BeginForm("Create", "ContactForms", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FullNameForm">Full Name</label>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @id = "FullNameForm", @placeholder = "Enter Full Name"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CompanyForm">Company</label>
                        @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @id = "CompanyForm", @placeholder = "Enter Company"})                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="EmailForm">Email Address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "EmailForm", @placeholder = "Enter Address", @type = "email" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="PhoneForm">Phone Number</label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "PhoneForm", @placeholder = "Enter Phone Number" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="MessageForm">Message</label>
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @id = "MessageForm", @placeholder = "Enter Message"})
            </div>

            <input type="submit" class="btn btn-flat btn-lg" value = "Send" />
        }


        <!-- =========
        End form contact section
        ===================================-->

    </div>
</div>